<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { onMounted } from "vue";
import ProductDialog from "./ProductEditDialog.vue";
import type Menu from "@/types/Menu";

const menuStore = useMenuStore();

onMounted(async () => {
  await menuStore.getMenus();
});

function deleteMenu(index: number) {
  menuStore.deleteMenu(index);
}
function addNewMenu() {
  menuStore.dialogEdit = true;
}

function editMenu(menu: Menu) {
  menuStore.editMenu(menu);
  menuStore.dialogEdit = true;
}
</script>
<template>
  <v-container>
    <v-card
      style="border-radius: 10px; margin-top: 10px; margin-bottom: 10px"
      variant="text"
    >
      <h2
        style="color: black; padding-top: 20px; padding-bottom: 20px"
        class="text-center bg-deep-purple-lighten-4"
      >
        การจัดการเมนูอาหาร
      </h2>
    </v-card>
    <v-row>
      <v-col cols="3" offset="10">
        <v-btn color="primary" prepend-icon="mdi-plus" @Click="addNewMenu"
          >Add New
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table
          class="overflow-y-auto"
          style="border-radius: 10px; max-height: 500px"
        >
          <thead class="bg-deep-purple-lighten-4">
            <tr>
              <th style="text-align: center"></th>
              <th style="text-align: center">Name</th>
              <th style="text-align: center">Price</th>
              <th style="text-align: center">Option</th>
              <th style="text-align: center"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of menuStore.menuList" :key="item.id">
              <td style="text-align: center"></td>
              <td style="text-align: center">{{ item.name }}</td>
              <td style="text-align: center">{{ item.price }}</td>
              <td style="text-align: center">
                <v-btn
                  class="ma-1"
                  color="yellow-darken-3"
                  icon="mdi-pencil"
                  @click="editMenu(item)"
                ></v-btn>
                <v-btn
                  class="ma-1"
                  color="red"
                  icon="mdi-delete"
                  @click="deleteMenu(item.id!)"
                ></v-btn>
              </td>
              <td style="text-align: center"></td>
            </tr>
          </tbody> </v-table
      ></v-col>
    </v-row>
  </v-container>
  <ProductDialog />
</template>

<style scoped></style>
