<script setup lang="ts">
import { useQueueStore } from "@/stores/queue";
import { onMounted } from "vue";
import type Queue from "@/types/Queue";

const queueStore = useQueueStore();
const employId = parseInt(localStorage.getItem("id") + "");
const position = localStorage.getItem("role");

onMounted(async () => {
  await queueStore.getQueues();
});

function selectedQueue(item: Queue) {
  console.log(item);
  item.employeeId = parseInt(employId + "");
  item.status = "Cooking";
  queueStore.updateQueue(item);
}
function finishedQueue(item: Queue) {
  item.status = "finished";
  queueStore.updateQueue(item);
}
async function CancelQueue(id: number, item: Queue) {
  const delQueue = await queueStore.getQueueById(id);
  delQueue.status = "cancel";
  queueStore.deleteQueue(delQueue);
}
</script>

<script lang="ts">
export default {
  data: () => ({
    tab: 0, //starting page
  }),

  watch: {
    length(val) {
      this.tab = val;
    },
  },
};
</script>

<template>
  <v-card
    style="
      border-radius: 10px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    "
    variant="text"
  >
    <h2
      style="color: black; padding-top: 20px; padding-bottom: 20px"
      class="text-center bg-deep-purple-lighten-4"
    >
      รายการทำอาหาร
    </h2>
  </v-card>
  <v-card style="margin-left: 30px; margin-right: 30px">
    <v-tabs v-model="tab" class="text-center bg-deep-purple-lighten-1">
      <v-tab value="main">Main menu</v-tab>
      <v-tab value="history">history</v-tab>
      <v-tab value="chef" v-if="position == 'chef' || position == 'owner'"
        >Chef</v-tab
      >
    </v-tabs>

    <v-card-text class="text-center">
      <v-window v-model="tab" style="border-radius: 10px">
        <v-window-item value="main">
          <v-row>
            <v-col>
              <v-table class="overflow-y-auto" style="max-height: 500px">
                <thead class="text-center bg-deep-purple-lighten-3">
                  <tr>
                    <th class="text-center" style="font-size: larger">
                      รายการ
                    </th>
                    <th class="text-center" style="font-size: larger">สถานะ</th>
                    <th class="text-center" style="font-size: larger">
                      ยืนยัน
                    </th>
                  </tr>
                </thead>
                <tbody v-for="item of queueStore.queues" :key="item.id">
                  <tr v-if="item.status === 'waiting'">
                    <td style="text-align: center">{{ item.name }}</td>
                    <td style="text-align: center">
                      {{ item.status }}
                    </td>
                    <td style="text-align: center">
                      <v-btn
                        icon="mdi-check-bold"
                        color="green"
                        class="ma-1"
                        @click="selectedQueue(item)"
                      ></v-btn
                      ><v-btn
                        icon="mdi-close-thick"
                        color="red-darken-1"
                        class="ma-1"
                        @click="CancelQueue(item.id!, item)"
                      ></v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
        </v-window-item>
        <v-window-item value="history">
          <v-row>
            <v-col>
              <v-table class="overflow-y-auto" style="max-height: 500px">
                <thead class="text-center bg-deep-purple-lighten-3">
                  <tr>
                    <th class="text-center" style="font-size: larger">
                      รายการ
                    </th>
                    <th></th>
                    <th class="text-center" style="font-size: larger">สถานะ</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody v-for="item of queueStore.queues" :key="item.id">
                  <tr
                    v-if="
                      item.status === 'finished' || item.status === 'cancel'
                    "
                  >
                    <td style="text-align: center">{{ item.name }}</td>
                    <td></td>
                    <td style="text-align: center">{{ item.status }}</td>
                    <td></td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
        </v-window-item>
        <v-window-item value="chef">
          <v-row>
            <v-col>
              <v-table class="overflow-y-auto" style="max-height: 500px">
                <thead class="text-center bg-deep-purple-lighten-3">
                  <tr>
                    <th class="text-center" style="font-size: larger">
                      รายการ
                    </th>
                    <th class="text-center" style="font-size: larger">สถานะ</th>
                    <th class="text-center" style="font-size: larger">
                      ยืนยัน
                    </th>
                  </tr>
                </thead>
                <tbody v-for="item of queueStore.queues" :key="item.id">
                  <tr
                    v-if="
                      (item.employee?.id == employId &&
                        item.status == 'Cooking') ||
                      (item.status == 'Cooking' && item.employee?.id == 1)
                    "
                  >
                    <td style="text-align: center">{{ item.name }}</td>
                    <td style="text-align: center">
                      {{ item.status }}
                    </td>
                    <td style="text-align: center">
                      <v-btn
                        @click="finishedQueue(item)"
                        icon="mdi-check-all"
                        color="success"
                        class="ma-1"
                      ></v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<style scoped></style>
