<script setup lang="ts">
import router from "@/router";
import { useTableStore } from "@/stores/table";
import { useOrderStore } from "@/stores/order";
import type Table from "@/types/Table";
import { onMounted } from "vue";
import CleanDialog from "./CleanDialog.vue";
const orderStore = useOrderStore();

const tableStore = useTableStore();

onMounted(async () => {
  await tableStore.getTables();
});

const checkStatus = (status: string): string => {
  if (status === "A") {
    return "green";
  } else if (status === "U") {
    return "red";
  }
  return "rgb(255, 149, 62)";
};

const selectTable = (table: Table) => {
  if (table.status === "C") {
    tableStore.dialog = true;
  } else {
    tableStore.updateTable("C");
    console.log(tableStore.oldTable);
    tableStore.selectTable(table);
    tableStore.updateTable("U");
    tableStore.dialogTable = false;
    orderStore.updateOrderTableNumber(table.id!);
  }
};
</script>

<template>
  <v-card>
    <v-container>
      <v-row>
        <v-col
          cols="6"
          md="4"
          v-for="item of tableStore.tableList"
          :key="item.id"
          ><!-- Enable Card -->
          <v-card height="200px" v-if="item.status === 'A'">
            <v-btn
              height="100%"
              width="100%"
              class="text-h3"
              :color="checkStatus(item.status!)"
              @click="selectTable(item)"
              >{{ item.id + ` (${item.seats})` }}
            </v-btn>
          </v-card>
          <!-- Disable Card -->
          <v-card height="200px" v-if="item.status !== 'A'" :disabled="true">
            <v-btn height="100%" width="100%" class="text-h3" color="grey"
              >{{ item.id + ` (${item.seats})` }}
            </v-btn>
          </v-card>
        </v-col>
      </v-row>
      <CleanDialog></CleanDialog>
    </v-container>
  </v-card>
</template>
