<script setup lang="ts">
import { onMounted, reactive, ref, watch } from "vue";
import { useMenuStore } from "@/stores/menu";
import { useCartStore } from "@/stores/cart";
import type Menu from "@/types/Menu";
import { useRoute } from "vue-router";
import { useOrderStore } from "@/stores/order";
import { useMessageStore } from "@/stores/message";
import { useQueueStore } from "@/stores/queue";
import type order from "@/types/Order";

const menuStore = useMenuStore();
const orderStore = useOrderStore();
const queueStore = useQueueStore();
const route = useRoute();
const cartStoer = useCartStore();
const messageStore = useMessageStore();
const orderID = route.params.id + "";

const orderId = ref(route.params.id);
const cartList = reactive<Menu[]>([]);
const status = ref(true); //true = ordered false = add new order
const odItem = ref();
const totalPrice = ref(0);
const orderSelect = ref<order>();

const getOrderSelect = async () => {
  return await orderStore.getOrderById(orderID);
};

getOrderSelect().then((orderIndex) => {
  orderSelect.value = orderIndex[0];
  // console.log(orderSelect);
});

onMounted(async () => {
  await menuStore.getMenus();
  await orderStore.getOrders();
  totalPrice.value = await cartStoer.getTotalPrice(orderID);
  odItem.value = await orderStore.getOrderItemByOrderId(orderID);
  // console.log(odItem.value);
  if (odItem.value.length === 0) {
    status.value = false;
  } else {
    status.value = true;
  }
  for (const n of menuStore.menuList) {
    n.qty = 1;
  }
});
watch(
  () => odItem.value,
  async (newItem) => {
    totalPrice.value = await cartStoer.getTotalPrice(orderID);
  }
);
async function cart() {
  odItem.value = await orderStore.getOrderItemByOrderId(orderID);
  if (odItem.value.length === 0) {
    status.value = false;
    messageStore.showMessage("Please add menu to order first.");
  } else {
    status.value = !status.value;
  }
}

const dec = (pd: Menu) => {
  if (pd.qty! > 0) {
    pd.qty!--;
  }
};

const inc = (pd: Menu) => {
  return pd.qty!++;
};

const checkCart = (pd: Menu) => {
  for (const item of cartList) {
    if (item.name === pd.name) {
      return true;
    }
  }
  return false;
};

async function addProduct(item: Menu) {
  const pd = ref<Menu>({
    id: item.id,
    name: item.name,
    price: item.price,
    qty: item.qty,
    img: item.img,
  });
  for (const lst in cartList) {
    if (cartList[lst].name === item.name) {
      cartList[lst].qty! += item.qty!;
      cartList[lst].price! = item.price! * cartList[lst].qty!;
      return;
    }
  }
  pd.value.price = item.price! * item.qty!;
  cartList.push(pd.value);
  item.qty = 1;
}

function delProduct(item: Menu) {
  for (const lst in cartList) {
    if (cartList[lst].name === item.name) {
      cartList.splice(cartList.indexOf(item), 1);
    }
  }
  item.qty = 1;
}

async function addToOrder() {
  await cartStoer.addCart(cartList, orderId.value.toString());
  totalPrice.value = await cartStoer.getTotalPrice(orderID);
  // console.log(cartList);
  /*cartList.forEach((menu) => {
    console.log(menu);
    let count = parseInt(menu.qty + "");
    for (let item = 1; item <= count; item++) {
      console.log(item);
      queueStore.createQueue({
        name: menu.name,
        status: "waiting",
        tableId: { id: orderSelect.value?.table_number },
        orderItemsId: menu.id,
      });
    }
  });*/
  clearCart();
}

function clearCart() {
  cartStoer.clearCart();
  cartList.splice(0, cartList.length);
}

// function getTotalPrice() {
// let total = 0;
// for (const item of odItem.value) {
//   const price = item.product.price * item.qty;
//   total += price;
// }
// return total;
// }
</script>
<template>
  <v-container class="bg-deep-purple-lighten-3">
    <v-row>
      <v-col cols="8" style="overflow-y: auto; height: 98vh; width: auto">
        <v-container>
          <v-row>
            <v-col cols="4" v-for="item of menuStore.menuList" :key="item.id">
              <v-card class="pa-2 text-center bg-grey-lighten-5" height="350">
                <v-card-action>
                  <v-img
                    :src="item.img"
                    class="orange-darken-1"
                    width="320"
                    height="170"
                    cover
                  ></v-img>
                  <v-card-text>
                    {{ `${item.name} ${item.price} บาท` }}
                  </v-card-text>
                </v-card-action>
                <v-card-actions class="text-center">
                  <v-btn
                    variant="flat"
                    :color="item.qty === 0 ? 'grey-lighten-1' : 'red-accent-2'"
                    @Click="dec(item)"
                  >
                    -
                  </v-btn>
                  <v-card-text>{{ item.qty }}</v-card-text>
                  <v-btn
                    variant="flat"
                    color="green-lighten-1"
                    @Click="inc(item)"
                  >
                    +
                  </v-btn>
                </v-card-actions>
                <v-card-actions class="justify-center">
                  <v-btn
                    v-if="item.qty === 0 && checkCart(item)"
                    variant="flat"
                    color="orange-darken-1"
                    width="320"
                    @Click="delProduct(item)"
                  >
                    remove
                  </v-btn>
                  <v-btn
                    v-if="item.qty !== 0 && !status"
                    variant="flat"
                    color="teal-lighten-2"
                    width="320"
                    @Click="addProduct(item)"
                  >
                    add
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="4" v-if="status">
        <v-container>
          <v-row>
            <v-col cols="12">
              <div
                class="bg-deep-purple-lighten-4"
                width="370px"
                style="
                  text-align: center;
                  font-size: 18px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  margin-bottom: 10px;
                  border-radius: 10px;
                  border-bottom: none;
                "
              >
                รายการอาหารที่สั่ง
              </div>
              <v-table
                style="
                  height: 500px;
                  text-align: center;
                  font-size: 15px;
                  border-radius: 10px;
                "
                class="overflow-y-auto"
              >
                <thead class="bg-deep-purple-lighten-4">
                  <tr>
                    <th>รายการอาหาร</th>
                    <th>จำนวน</th>
                    <th>ราคา</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of odItem" :key="item.id">
                    <td style="text-align: left">{{ item.name }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.qty * item.product.price }}</td>
                  </tr>
                </tbody>
              </v-table>
              <v-row
                class="bg-deep-purple-lighten-4"
                style="
                  border-radius: 10px;
                  width: 340px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  margin-left: 1px;
                  /* margin-bottom: 5px; */
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    /* margin-top: 20px; */
                    padding-right: 140px;
                    padding-left: 20px;
                    font-size: 18px;
                    color: dimgray;
                  "
                >
                  Total Price:
                </div>
                <div>{{ `${totalPrice}  บาท` }}</div>
              </v-row>
              <v-row style="margin-bottom: 2px">
                <v-card-actions>
                  <v-btn
                    variant="flat"
                    color="green"
                    width="350px"
                    @Click="cart()"
                  >
                    สั่งอาหาร
                  </v-btn>
                </v-card-actions>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="4" v-else>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-table
                style="
                  height: 590px;
                  text-align: center;
                  font-size: 15px;
                  border-radius: 10px;
                "
                class="overflow-y-auto"
              >
                <thead class="bg-deep-purple-lighten-4">
                  <tr>
                    <th>รายการอาหาร</th>
                    <th>จำนวน</th>
                    <th>ราคา</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of cartList" :key="item.id">
                    <td style="text-align: left">{{ item.name }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.price }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
          <v-row>
            <v-card-actions class="justify-center">
              <v-btn
                variant="flat"
                color="green"
                width="150px"
                @Click="addToOrder()"
              >
                สั่งอาหาร
              </v-btn>
              <v-btn
                variant="flat"
                color="red"
                width="150px"
                @Click="clearCart()"
              >
                ยกเลิก
              </v-btn>
              <v-btn
                variant="flat"
                icon="mdi-cart-variant"
                size="large"
                color="#EEEEEE"
                @click="cart()"
              ></v-btn>
            </v-card-actions>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
