<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { useTableStore } from "@/stores/table";
import type Table from "@/types/Table";
import { useRoute, useRouter } from "vue-router";
import DialogTableViewVue from "./DialogTableView.vue";
import type Order from "@/types/Order";
import { useOrderStore } from "@/stores/order";

const route = useRoute();
const router = useRouter();
const tableStore = useTableStore();
const tableNumber = ref(route.params.id);
const table = ref(tableStore.selected);
const orderStore = useOrderStore();
const orderIDString = ref();
const employId = localStorage.getItem("id");
const newOrder = ref<Order>({
  table_number: parseInt(tableNumber.value + ""),
  table: { id: parseInt(tableNumber.value + "") },
  orderItems: [],
});
watch(
  () => route.params.id,
  (newValue) => {
    tableNumber.value = newValue;
  }
);
const checkStatus = (s: Table): boolean => {
  if (s.status === "A") {
    return true;
  }
  return false;
};
const changeDialogStatus = () => {
  tableStore.oldTable = tableStore.selected.id!;
  console.log(tableStore.oldTable);
  if (tableStore.dialogTable == true) {
    tableStore.dialogTable = false;
  } else {
    tableStore.dialogTable = true;
  }
};

const createOrder = async (order: Order) => {
  changeStatus();
  order.employeeId = parseInt(employId + "");
  const orderID = await orderStore.createOrder(order);
  console.log(orderID.id);
  orderIDString.value = orderID.id;
  router.push("/QRCode/" + orderIDString.value);
};

tableStore.showBtnQRCode = checkStatus(table.value);
const changeStatus = () => {
  if (table.value.status === "A") {
    // tableStore.selected.status = "U";
    tableStore.updateTable("U");
  } else {
    // tableStore.selected.status = "C";
    tableStore.updateTable("C");
  }
  table.value.status = tableStore.selected.status;
  checkStatus(table.value);
};

onMounted(async () => {
  await tableStore.getTables();
});
</script>

<template>
  <v-card
    class="mx-auto bg-deep-purple-lighten-4"
    width="400"
    style="margin-top: 100px; padding-top: 20px; padding-bottom: 20px"
  >
    <v-card-title style="text-align: center; font-weight: bold">
      TABLE : {{ tableNumber }}</v-card-title
    >
    <v-card-actions class="justify-center">
      <v-btn
        variant="flat"
        color="green"
        style="padding-left: 40px; padding-right: 40px; width: 165px"
        @click="createOrder(newOrder)"
        >reserve</v-btn
      >
    </v-card-actions>
    <v-card-actions class="justify-center">
      <v-btn
        variant="flat"
        color="red"
        style="padding-left: 40px; padding-right: 40px; width: 165px"
        to="/table"
        >cancel</v-btn
      >
    </v-card-actions>
  </v-card>
  <v-dialog v-model="tableStore.dialogTable" persistent max-width="800">
    <DialogTableViewVue />
    <v-btn color="red" @click="changeDialogStatus()">Cancel</v-btn>
  </v-dialog>
</template>

<style scoped></style>
