<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const userStore = useUserStore();
const form = ref<VForm | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
  }
}

function clear() {
  userStore.dialog = false;
  userStore.clear();
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="userStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="6">
                  <v-text-field
                    label="Username*"
                    v-model="userStore.editedUser.username"
                    :rules="[
                      (v) => !!v || 'Username must not be empty.',
                      (v) =>
                        v.length >= 5 ||
                        'Username must be greater than or equal to 5.',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="Password*"
                    type="password"
                    v-model="userStore.editedUser.password"
                    :rules="[
                      (v) => !!v || 'Password must not be empty.',
                      (v) =>
                        v.length >= 8 ||
                        'Password must be greater than or equal to 8.',
                      (v) =>
                        /^(?=.*\d)(?=.*[!@#$%^&*_])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                          v
                        ) ||
                        'Password must contain lowercase, uppercase, numbers, and special characters.',
                      // (?=.*\d) = number
                      // (?=.*[!@#$%^&*]) = special character
                      // (?=.*[a-z])(?=.*[A-Z]) = lowercase n uppercase
                      // .{8,} = must >= 8 char
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="Name*"
                    v-model="userStore.editedUser.name"
                    :rules="[
                      (v) => !!v || 'Name must not be empty.',
                      (v) =>
                        v.length >= 5 ||
                        'Name must be greater than or equal to 5.',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="Role*"
                    v-model="userStore.editedUser.role"
                    :rules="[(v) => !!v || 'Role must not be empty.']"
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="Phone"
                    type="number"
                    v-model="userStore.editedUser.phone"
                    :rules="[
                      (v) => !!v || 'Phone must not be empty.',
                      (v) => v.length == 10 || 'Phone must equal to 10.',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="Salary"
                    v-model="userStore.editedUser.salary"
                    :rules="[
                      (v) => !!v || 'Salary must not be empty or equal to 0.',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
